<h3>スコアについて<h3>

<p>ハンドボールのスコアは非常に見づらい</p>

<%# ここにリンク，ハンドボールのスコアについて書いてあるページ %>
<a href= "https://translate.google.co.jp/?hl=ja" >ハンドボールについての説明は詳しくはこちら</a>


<%= link_to 'トップページ', statics_index_path %>
<%= link_to "新規登録", new_user_registration_path %>
<%= link_to "ログイン", homes_path %>
<%= link_to "ログアウト",destroy_user_session_path %>