<h1>Statics#top</h1>
<h3>トップページ</h3>


<%= link_to 'ハンドボールについて', statics_about_path %>
<%= link_to 'スコアについて', statics_score_path %>
<%= link_to "ログイン", homes_path %>
<%= link_to "新規登録", new_user_registration_path %>

<p>Find me in app/views/statics/index.html.erb</p>

