
 * {
    padding: 0;
    margin: 0;
  }

  
  @import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
  body {
    min-height: 100vh;
    position: relative; 
    display: flex;
    flex-direction: column;
    font-family: 'Sawarabi Mincho', sans-serif;
    margin-bottom:20px;
  }

  /* ヘッダー */
  header {
    background-color: #D0F5DF;
    height: 60px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  header a {
    color: black; 
    text-decoration: none; 
  }
  .header-list {
    display: flex;
    align-items: center;
  }
  header ul {
    display: flex; 
  }
  header li {
    list-style: none;
    margin-right: 20px;
  }
  /* ヘッダー終わり */


  main{
    margin-top:30px;
  }

  /* 左右分割 */
  @import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
  .col-9 {
    background: #DCF5F4;
    height: auto;
    position: relative;
    font-family: 'Ubuntu Mono', monospace;
    border: 1px solid #D0F5DF;
  }
  .col-9:before {
      height: 0;
      display: block;
      position: absolute;
      right: -3px;
      content: "";
      border-top: solid 50px #fff;
      border-left: solid 50px transparent;
      top: -3px;
      z-index: 2;
  }
  .col-9:after {
      height: 0;
      display: block;
      position: absolute;
      right: -2px;
      content: "";
      border-top: solid 50px transparent;
      border-left: solid 50px transparent;
      top: -2px;
  }

  .col{
    position: sticky;
    margin:0;
    padding:0;
    
  }
  
  .sidenav {
    border: 5px solid #D0F5DF;
    border-radius: 5px;
    font-weight:bold;
    
  }
  /* 終わり */
  
  
  /* サイドバーの補助デザイン */
  ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: relative;
    overflow: auto;
  }
  
  ul.sidenav li a {
    display: block;
    color: #42AD9D;
    padding: 0px 16px;
    text-decoration: none;
  }
  ul.sidenav li a.active {
    color: white;
  }
  ul.sidenav li a:hover:not(.active) {
    background-color: #1b2538;
    color: white;
  }
  div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
  }
  @media screen and (max-width: 900px) {
    ul.sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
    ul.sidenav li a {
      float: left;
      padding: 15px;
    }
    div.content {
      margin-left: 0;
    }
  }
  @media screen and (max-width: 480px) {
    ul.sidenav li a {
      text-align: center;
      float: none;
    }
  }
  /* 終わり */
  