
 * {
    padding: 0;
    margin: 0;
  }
  body {
    min-height: 100vh;
    position: relative; 
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  header {
    background-color: #96FAEB;
    height: 60px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  header a {
    color: black; 
    text-decoration: none; 
  }
  header h3 {
    margin-left: 20px;
    font-weight: bold;
    color: black;
  }
  .header-list {
    display: flex;
    align-items: center;
  }
  header ul {
    display: flex; 
  }
  header li {
    list-style: none;
    margin-right: 20px;
  }
  
