.col-9 h3{
    text-align:center;
    font-family:cursive;
    font-weight: bold;
    margin: 20px;
}
.member{
    border-radius: 15px;
    margin:20px;
    background-color: #D0F5DF;
    font-weight: bold;
}

.member1{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.member1-submit{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    margin-bottom:20px;
}

.member2{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.member2-submit{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    margin-bottom:20px;
}

.col-md{
    text-align:center;
    margin-left:80px;
    margin-bottom:30px;
    margin-top:30px;
}
.col-md h5{
    margin-bottom:20px;
}


.middle-container{
    margin-right:20px;
}





input[type="text"]{
    width: 200px;;
}


input[type="number"]{
    width: 60px;;
}
