
.container0 h3{
    margin:20px;
    text-align:center;
    font-weight:bold;
    font-family:cursive;
}

.container1{
    border: 5px solid #D0F5DF;
    border-radius: 10px;
    margin-bottom: 80px;
}
.container1-thema{
    margin-left: 30px;
}
.container1-main{
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: 10px;
    border: 3px solid #F5C7C4;
    border-radius: 10px;
}
mark{
    background-color: #F5C7C4;
}

.container2{
    margin-bottom: 20px;
}
.container2 a{
    display:flex;
}

.container3 iframe{
    margin-bottom:20px;
}
