// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// 画像探す↓
#first-block {
  background-image: url("../images/top_back-ground.jpg");
  background-size: cover;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#second-block {
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container{
  display:flex;
  flex-direction:row;
  text-align:center;
  margin:10px;
}

